@import 'base/normalize.scss';

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;

	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

html {
	font-family: "Oswald", sans-serif;
	overflow-x: hidden;
	margin-right: calc(-1 * (100vw - 100%));
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

body
{
	&:has(.burger-menu__nav)
	{
		height: 100vh;
		overflow: hidden;
	}
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }

ul { list-style: none }

.container
{
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 20px;
}